
.scale-wrapper {
  /* Scale UI */
  transform: scale(0.8);
  transform-origin:top;
}
.main-container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
table.main-table {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding: 20px 20px 20px 20px;
}
th.row-title { 
  width: 30%;
  text-align: right;
  padding: 0px;
  padding-right: 20px;
}
td.row-content {
  width: 40%;
  text-align: left;
  padding: 0px;
  padding-top: 0px;
  margin: 10px;
  max-width: 400px;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #41566b;
  text-decoration: none;
}

#nav a:hover {
  color: #bb2929;
}

#nav a.router-link-exact-active {
  color: #830909;
  text-decoration: underline;
}